Source: silva
Standards-Version: 3.0.4
Section: web
Priority: standard
Maintainer: SilvaCMS community <info@silvacms.org>
Build-Depends: debhelper (>= 7), python2.7-dev, libjpeg8-dev, zlib1g-dev
Homepage: http://silvacms.org

Package: silva
Architecture: any
Description: Silva CMS
Depends: python2.7, libjpeg8, zlib1g, pdftohtml
