[buildout]
extends = silva-development.cfg

[sources]
silva.pas.bethel = hg https://hg-web.bethel.edu/silva.pas.bethel
smitheme.bclear = hg https://hg-web.bethel.edu/smitheme.bclear
bethel.layout.public = svn https://svn-web.bethel.edu/Zope-Projects/bethel.layout.public/branches/bethel.layout.public-2.3
bethel.contentlayout.templates = svn https://svn-web.bethel.edu/Zope-Projects/bethel.contentlayout.templates/branches/bethel.contentlayout.templates-2.3
bethel.layout.base = svn https://svn-web.bethel.edu/Zope-Projects/bethel.layout.base/branches/bethel.layout.base-2.3
Products.LuminisChannelFolder = svn https://svn-web.bethel.edu/Zope-Projects/Products.LuminisChannelFolder/trunk/
Products.SilvaUCLGallery = svn https://svn-web.bethel.edu/Zope-Projects/Products.SilvaUCLGallery/trunk/
bethel.silva.upgrade = hg https://hg-web.bethel.edu/bethel.silva.upgrade
bethel.core.sitemap = svn https://svn-web.bethel.edu/Zope-Projects/bethel.core.sitemap/trunk
bethel.core.forms = svn https://svn-web.bethel.edu/Zope-Projects/bethel.core.forms/trunk
bethel.app.coursecatalog = svn https://svn-web.bethel.edu/Zope-Projects/bethel.app.coursecatalog/trunk
bethel.core.zopecache = svn https://svn-web.bethel.edu/Zope-Projects/bethel.core.zopecache/trunk
bethel.app.tod = svn https://svn-web.bethel.edu/Zope-Projects/bethel.app.tod/trunk
bethel.codesources = svn https://svn-web.bethel.edu/Zope-Projects/bethel.codesources/trunk
bethel.silva.renderers = svn https://svn-web.bethel.edu/Zope-Projects/bethel.silva.renderers/trunk
bethel.app.finaidcalc = svn https://svn-web.bethel.edu/Zope-Projects/bethel.app.finaidcalc/trunk
bethel.app.bx = svn https://svn-web.bethel.edu/Zope-Projects/bethel.app.bx/trunk
Products.ExpertGuide = svn https://svn-web.bethel.edu/Zope-Projects/Products.ExpertGuide/trunk
Products.SilvaRandomContentSource = svn https://svn-web.bethel.edu/Zope-Projects/Products.SilvaRandomContentSource/trunk
Products.SilvaNewsCalendar = svn https://svn-web.bethel.edu/Zope-Projects/Products.SilvaNewsCalendar/trunk
bethel.wufoo.core = svn https://svn-web.bethel.edu/Zope-Projects/bethel.wufoo.core/trunk
bethel.wufoo.preloaders = svn https://svn-web.bethel.edu/Zope-Projects/bethel.wufoo.preloaders/trunk
bethel.wufoo.silva = svn https://svn-web.bethel.edu/Zope-Projects/bethel.wufoo.silva/trunk


#these packages are sourced on hg.infrae.com, but we have a local/downstream
# server at Bethel so all web devs here can make updates (only aaltepet can
# push to infrae.com)
Products.Silva = hg https://hg-web.bethel.edu/Products.Silva#2.3-bethel-content-layout
Products.SilvaExternalSources = hg https://hg-web.bethel.edu/Products.SilvaExternalSources#2.3-bethel-content-layout
silva.core.conf = hg https://hg-web.bethel.edu/silva.core.conf#2.3-bethel-content-layout
silva.core.interfaces = hg https://hg-web.bethel.edu/silva.core.interfaces#2.3-bethel-content-layout
silva.core.layout = hg https://hg-web.bethel.edu/silva.core.layout#2.3-bethel-content-layout
silva.core.smi = hg https://hg-web.bethel.edu/silva.core.smi#2.3-bethel-content-layout
silva.core.views = hg https://hg-web.bethel.edu/silva.core.views#2.3-bethel-content-layout
zeam.form.silva = hg https://hg-web.bethel.edu/zeam.form.silva#2.3-bethel-content-layout
silva.core.contentlayout = hg https://hg-web.bethel.edu/silva.core.contentlayout
silva.app.page = hg https://hg-web.bethel.edu/silva.app.page
silva.core.upgrade = hg https://hg-web.bethel.edu/silva.core.upgrade#2.3-bethel-content-layout
Products.SilvaNews = hg https://hg-web.bethel.edu/Products.SilvaNews#2.3-bethel-content-layout

#needed for the upgrade, only
Products.Annotations = svn https://svn.infrae.com/Products.Annotations/trunk


[instance]
eggs +=
    silva.pas.membership
    silva.pas.bethel
    Products.LDAPMultiPlugins
    bethel.layout.base
    bethel.layout.public
    bethel.contentlayout.templates
    infrae.testbrowser
    infrae.testing
    Products.LuminisChannelFolder
    Products.SilvaUCLGallery
    silva.core.upgrade
    bethel.silva.upgrade
    Products.Annotations
    bethel.core.sitemap
    bethel.app.coursecatalog
    bethel.core.forms
    bethel.core.zopecache
    python-memcached
    bethel.app.tod
    bethel.app.finaidcalc
    bethel.app.bx
    bethel.codesources
    bethel.silva.renderers
    Products.ExpertGuide
    Products.SilvaRandomContentSource
    Products.SilvaNewsCalendar
    bethel.wufoo.core
    bethel.wufoo.preloaders
    bethel.wufoo.silva
#    Products.ZCatalog
#annotations and zcatalog are needed for upgrade ONLY and can be removed
# afterwards
zcml +=
    z3c.form-meta
    z3c.form
    plone.z3cform
    z3c.formui
    z3c.macro-meta
    z3c.macro
    z3c.template-meta
    z3c.formui
    zope.app.pagetemplate-meta
    silva.pas.membership
    silva.pas.bethel
    Products.LDAPMultiPlugins
    bethel.layout.base
    bethel.layout.public
    bethel.contentlayout.templates
    Products.LuminisChannelFolder
    Products.SilvaUCLGallery
    silva.core.upgrade
    bethel.silva.upgrade
    bethel.core.sitemap
    bethel.app.coursecatalog
    bethel.core.forms
    bethel.app.tod
    bethel.codesources
    bethel.silva.renderers
    bethel.app.finaidcalc
    bethel.app.bx
    Products.ExpertGuide
    Products.SilvaRandomContentSource
    Products.SilvaNewsCalendar
    bethel.wufoo.core
    bethel.wufoo.silva

[test]
eggs +=
    silva.core.contentlayout
    silva.app.page
    bethel.layout.base
    bethel.layout.public
    grokcore.view
    bethel.core.sitemap
    bethel.app.tod
    bethel.app.coursecatalog
    bethel.codesources
    bethel.silva.renderers
    bethel.app.finaidcalc
    bethel.app.bx
    Products.ExpertGuide
    Products.SilvaRandomContentSource
    Products.SilvaNewsCalendar
    bethel.wufoo.core
    bethel.wufoo.preloaders
    bethel.wufoo.silva

[versions]
silva.core.upgrade=
